/* desktop view*/
body{
    background-color: #ABC2C4;
}
#main{
    background-color:#77989C ;
}
.card{
    background-color: #40949C;
    border-radius: 4%;
    box-shadow: 2px 2px 2px 2px white; 
}
#resumepart{
    background-color: #40949C;
    border-radius: 2%;
    box-shadow: 2px 2px 2px 2px white; 
}

/*tablet view*/

@media (min-width:768px) and (max-width:991px) {
   body{
       background-color: #CEF4DB;
   }
   #main{
    background-color:#57DA83;
    flex-direction: row-reverse;

   }
   .card{
       background-color: #1F6637;
       margin-top:10px;
   }
   #resumepart{
       background-color: #1F6637;
       margin-top:10px;      
   }
}
/*mobile view*/
@media(max-width:767px){
    #resumepart{
        margin-top: 10px;
    }

}





